allow msm_irqbalanced rootfs:lnk_file getattr;

allow msm_irqbalanced proc:file rw_file_perms;
allow msm_irqbalanced sysfs_devices_system_cpu:file w_file_perms;
