allow sensors self:capability {
    net_raw
};

allow sensors rootfs:lnk_file getattr;

allow sensors sysfs:file r_file_perms;

binder_use(sensors)
binder_call(sensors, servicemanager)
binder_call(sensors, per_mgr)

#Rules for sensors to talk to peripheral manager
use_per_mgr(sensors);

r_dir_file(sensors, sysfs_pronto)
r_dir_file(sensors, sysfs_subsys)
r_dir_file(sensors, system_file)
