# For wifi to access wifi_data_file
r_dir_file(ueventd, wifi_data_file)

# For BT to access sysfs_bluetooth_writable
rw_dir_file(ueventd, sysfs_bluetooth_writable)

allow ueventd {
    sysfs_thermal
}:file w_file_perms;

allow ueventd tmpfs:file create_file_perms;
allow ueventd tmpfs:dir create_dir_perms;

allow ueventd device:file relabelfrom;
allow ueventd random_device:file { relabelto setattr };
allow ueventd vfat:file { open read };

allow ueventd sysfs_subsys:file w_file_perms;
